<!DOCTYPE html> 
<html> 
	<head> 
	<title>Tothee Coffee</title> 
	<link rel="stylesheet" href="/public/jquery.mobile-1.0.1.min.css" />
	<script type="text/javascript" src="http://localhost:8080/target/target-script-min.js#anonymous"></script>
	<script type="text/javascript" src="/public/jquery-1.7.1.js"></script>
	<script type="text/javascript">
	$(document).bind("mobileinit", function(){
	  $.extend( $.mobile , {
    	    metaViewportContent: "width=device-width, height=device-height, minimum-scale=1, maximum-scale=1";
    	    loadingMessage: false;
    	    touchOverflowEnabled = true;
	  });
	});
	</script>	
	<script type="text/javascript" src="/public/jquery.mobile-1.0.1.min.js"></script>
</head> 
<body>
    <%= @content %>
</body>

</html>
